<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1 id="mainTitle">🎶 Drome Compare </h1>
    <%- include ('./partials/searchHeader.ejs') %>
    <% if(locals.results) { %>
        <%- include ('partials/results.ejs') %>
    <% } %>

    <script>
        let submitButtons = document.querySelectorAll('button[type=submit]');
        for (let i = 0; i < submitButtons.length; i++) {
            submitButtons[i].addEventListener("click", function(event) {
                event.target.classList.add('spinner');
            });
        }

    </script>

</div>
<script>
    let serviceIcons = document.querySelectorAll(".albumLinks a");
    for (let icon of serviceIcons) {
        let mode = icon.classList.contains('spotify') ? 'full-cut' : 'no-cut';
        icon.addEventListener("mouseover", function(event) {
            event.target.closest('.result').querySelector(`.cover.subsonic`).classList.add(mode);
            event.target.closest('.result').querySelector('.cover.subsonic').classList.remove('half-cut');
        });
        icon.addEventListener("mouseout", function(event) {
            event.target.closest('.result').querySelector('.cover.subsonic').classList.add('half-cut');
            event.target.closest('.result').querySelector('.cover.subsonic').classList.remove(mode);
        });

    }

</script>
</body>

</html>