<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #291528;
            font-family: 'Noto Sans', sans-serif;
            color: aliceblue;
        }
        .result {
            margin-bottom: 5px;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 175px;
            height: 175px;
            position: relative;
            text-align: center;
            margin: 15px;
            box-shadow: 0 0 10px black;
        }
        .cover {
            width: 100%;
            height:100%;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            background: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 75%) 50%, rgba(0,224,255,0) 100%);
            height: 100%;
            width: 100%;
        }
        .overlayText {
            width: 100%;
            bottom: 0;
            position: absolute;
            padding: 10px;
        }
        .icon {
            position: absolute;
            top: 0;
            padding: 5px 10px 10px 5px;
            background: aliceblue;
            border-radius: 0 0 50%;
            font-size: 2em;
        }
        .albumTitle {
            padding: 0 15px;
        }

        a {
            color:aliceblue;
            text-decoration: none;
            display: block;
        }
        a::after {
            content: '💿';
        }
        ul {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
        }
        li {
            display: inline-block;
        }
    </style>
</head>

<body>
    <%- include ('./partials/searchHeader.ejs') %>
    <% if(locals.results) { %>
        <%- include ('partials/results.ejs') %>
    <% } %>
</body>

</html>