<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2> Drome Compare </h2>
        <form action="/" method="GET">
            <input type="text" name="playlist" placeholder="Playlist url"> <button> Compare </button>
        </form>
    </div>
    <div>
        <h2>Debug</h2>
        <p>submitted purl <%= purl %></p>
        <p>subsonic endpoint</p>
        <h4>Api result Spotify:</h4>
        <pre>
            <%= JSON.stringify(spotifyRes, null, 2) %>
        </pre>
    </div>
</body>

</html>