<div class="container">
    <h2> Drome Compare </h2>
    <form action="/" method="GET">
        <input type="text" name="playlist" placeholder="Playlist url"> <button> Compare </button>
    </form>
</div>